extends layout

block content
  .container
    if user && pages
      each page in pages 
        ul
          li
            a(href=`/pages/${page.id}?name=${page.name}`)= `ID: ${page.id}`
          li= `Name: ${page.name}`
          li= `Category: ${page.category}`
