extends layout

block content
  .container
    h2 Choose Trigger

    form(method="POST", action="/workflow")
      .row
        .col-md-3
          select.form-select(multiple, name="triggerIds")
            option(selected, disabled) Choose triggers

            each trigger in triggers
              option(value=`${trigger.id}`)= trigger.name
        .col-md-3
          .form-check.form-switch
            input#send-mail.form-check-input(
              type="checkbox",
              value=false,
              name="sendMail"
            )
            label.form-check-label(for="send-mail")
              | Send email?
          .form-check.form-switch
            input#post-on-twitter.form-check-input(
              type="checkbox",
              value=false,
              name="postOnTwitter"
            )
            label.form-check-label(for="post-on-twitter")
              | Post on Twitter?
        .col-md-3
          select.form-select(name="fbPageId")
            option(selected, disabled) Choose Facebook Page

            each page in pages
              option(value=`${page.id}`)= page.name

        .col-md-3 
          label.form-label(for="message") Message
          textarea#message.form-control(rows="3", name="message")
      button.btn.btn-primary.mt-1(type="submit") Create workflow

    //- if data
    //-   h1 Workflows:
    //-   each sub in data
    //-     ul
    //-       li= `Fromat: ${sub.workflow.format}`
    //-       li 
    //-         a(href=`Endpoint: ${sub.workflow.endpoint}`)= `Endpoint: ${sub.workflow.endpoint}`
    //-       li Feed:
    //-         ul
    //-           li= `Title: ${sub.workflow.feed.title}`
    //-           li Feed url:&nbsp;
    //-             a(href=`${sub.workflow.feed.url}`)= `${sub.workflow.feed.url}`
    //-       li
    //-         form(method="POST", action="/feed/unsubscribe")
    //-           input(
    //-             type="hidden",
    //-             name="feed",
    //-             value=`${sub.workflow.feed.url}`
    //-           )
    //-           input(
    //-             type="hidden",
    //-             name="callback",
    //-             value=`${sub.workflow.endpoint}`
    //-           )
    //-           button.btn.btn-danger(type="submit") Delete
